
@-webkit-keyframes spinner-one-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.65,.21,.25,.76);
        animation-timing-function:cubic-bezier(.65,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spinner-one-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.65,.21,.25,.76);
        animation-timing-function:cubic-bezier(.65,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes spinner-one-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    33.33%{
        -webkit-transform:scale(.35);
        -ms-transform:scale(.35);
        -o-transform:scale(.35);
        transform:scale(.35);
        -webkit-animation-timing-function:cubic-bezier(.33,0,1,1);
        animation-timing-function:cubic-bezier(.33,0,1,1)
    }
    52.38%{
        -webkit-transform:scale(.45);
        -ms-transform:scale(.45);
        -o-transform:scale(.45);
        transform:scale(.45);
        -webkit-animation-timing-function:cubic-bezier(.8,0,.78,1);
        animation-timing-function:cubic-bezier(.8,0,.78,1)
    }
    72.62%{
        -webkit-transform:scale(1.15);
        -ms-transform:scale(1.15);
        -o-transform:scale(1.15);
        transform:scale(1.15);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes spinner-one-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    33.33%{
        -webkit-transform:scale(.35);
        -ms-transform:scale(.35);
        -o-transform:scale(.35);
        transform:scale(.35);
        -webkit-animation-timing-function:cubic-bezier(.33,0,1,1);
        animation-timing-function:cubic-bezier(.33,0,1,1)
    }
    52.38%{
        -webkit-transform:scale(.45);
        -ms-transform:scale(.45);
        -o-transform:scale(.45);
        transform:scale(.45);
        -webkit-animation-timing-function:cubic-bezier(.8,0,.78,1);
        animation-timing-function:cubic-bezier(.8,0,.78,1)
    }
    72.62%{
        -webkit-transform:scale(1.15);
        -ms-transform:scale(1.15);
        -o-transform:scale(1.15);
        transform:scale(1.15);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes spinner-two-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.76,.21,.25,.76);
        animation-timing-function:cubic-bezier(.76,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spinner-two-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.76,.21,.25,.76);
        animation-timing-function:cubic-bezier(.76,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes spinner-two-scale{
    0%{
        -webkit-transform:scale(.96);
        -ms-transform:scale(.96);
        -o-transform:scale(.96);
        transform:scale(.96);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    4.76%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    38.1%{
        -webkit-transform:scale(.35);
        -ms-transform:scale(.35);
        -o-transform:scale(.35);
        transform:scale(.35);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    57.14%{
        -webkit-transform:scale(.45);
        -ms-transform:scale(.45);
        -o-transform:scale(.45);
        transform:scale(.45);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    100%,72.62%{
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        -o-transform:scale(.8);
        transform:scale(.8)
    }
}
@keyframes spinner-two-scale{
    0%{
        -webkit-transform:scale(.96);
        -ms-transform:scale(.96);
        -o-transform:scale(.96);
        transform:scale(.96);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    4.76%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    38.1%{
        -webkit-transform:scale(.35);
        -ms-transform:scale(.35);
        -o-transform:scale(.35);
        transform:scale(.35);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    57.14%{
        -webkit-transform:scale(.45);
        -ms-transform:scale(.45);
        -o-transform:scale(.45);
        transform:scale(.45);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    100%,72.62%{
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        -o-transform:scale(.8);
        transform:scale(.8)
    }
}
@-webkit-keyframes spinner-three-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.88,.21,.25,.76);
        animation-timing-function:cubic-bezier(.88,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spinner-three-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.88,.21,.25,.76);
        animation-timing-function:cubic-bezier(.88,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes spinner-three-scale{
    0%{
        -webkit-transform:scale(.96);
        -ms-transform:scale(.96);
        -o-transform:scale(.96);
        transform:scale(.96);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    9.52%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    42.86%{
        -webkit-transform:scale(.35);
        -ms-transform:scale(.35);
        -o-transform:scale(.35);
        transform:scale(.35);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    61.9%{
        -webkit-transform:scale(.45);
        -ms-transform:scale(.45);
        -o-transform:scale(.45);
        transform:scale(.45);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    100%,72.62%{
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        -o-transform:scale(.8);
        transform:scale(.8)
    }
}
@keyframes spinner-three-scale{
    0%{
        -webkit-transform:scale(.96);
        -ms-transform:scale(.96);
        -o-transform:scale(.96);
        transform:scale(.96);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    9.52%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    42.86%{
        -webkit-transform:scale(.35);
        -ms-transform:scale(.35);
        -o-transform:scale(.35);
        transform:scale(.35);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    61.9%{
        -webkit-transform:scale(.45);
        -ms-transform:scale(.45);
        -o-transform:scale(.45);
        transform:scale(.45);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    100%,72.62%{
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        -o-transform:scale(.8);
        transform:scale(.8)
    }
}
@-webkit-keyframes spinner-four-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(1,.2,.25,.76);
        animation-timing-function:cubic-bezier(1,.2,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spinner-four-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(1,.2,.25,.76);
        animation-timing-function:cubic-bezier(1,.2,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes spinner-four-scale{
    0%{
        -webkit-transform:scale(.96);
        -ms-transform:scale(.96);
        -o-transform:scale(.96);
        transform:scale(.96);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    14.29%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    47.62%{
        -webkit-transform:scale(.35);
        -ms-transform:scale(.35);
        -o-transform:scale(.35);
        transform:scale(.35);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    100%,66.67%,72.62%{
        -webkit-transform:scale(.45);
        -ms-transform:scale(.45);
        -o-transform:scale(.45);
        transform:scale(.45);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
}
@keyframes spinner-four-scale{
    0%{
        -webkit-transform:scale(.96);
        -ms-transform:scale(.96);
        -o-transform:scale(.96);
        transform:scale(.96);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    14.29%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    47.62%{
        -webkit-transform:scale(.35);
        -ms-transform:scale(.35);
        -o-transform:scale(.35);
        transform:scale(.35);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    100%,66.67%,72.62%{
        -webkit-transform:scale(.45);
        -ms-transform:scale(.45);
        -o-transform:scale(.45);
        transform:scale(.45);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
}
@-webkit-keyframes spinner-small-one-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.65,.21,.25,.76);
        animation-timing-function:cubic-bezier(.65,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spinner-small-one-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.65,.21,.25,.76);
        animation-timing-function:cubic-bezier(.65,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes spinner-small-one-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    33.33%{
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        -o-transform:scale(.6);
        transform:scale(.6);
        -webkit-animation-timing-function:cubic-bezier(.33,0,1,1);
        animation-timing-function:cubic-bezier(.33,0,1,1)
    }
    52.38%{
        -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7);
        -webkit-animation-timing-function:cubic-bezier(.8,0,.78,1);
        animation-timing-function:cubic-bezier(.8,0,.78,1)
    }
    72.62%{
        -webkit-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes spinner-small-one-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    33.33%{
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        -o-transform:scale(.6);
        transform:scale(.6);
        -webkit-animation-timing-function:cubic-bezier(.33,0,1,1);
        animation-timing-function:cubic-bezier(.33,0,1,1)
    }
    52.38%{
        -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7);
        -webkit-animation-timing-function:cubic-bezier(.8,0,.78,1);
        animation-timing-function:cubic-bezier(.8,0,.78,1)
    }
    72.62%{
        -webkit-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes spinner-small-two-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.76,.21,.25,.76);
        animation-timing-function:cubic-bezier(.76,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spinner-small-two-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.76,.21,.25,.76);
        animation-timing-function:cubic-bezier(.76,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes spinner-small-two-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    4.76%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    38.1%{
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        -o-transform:scale(.6);
        transform:scale(.6);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    57.14%{
        -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    72.62%{
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        -o-transform:scale(.8);
        transform:scale(.8);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes spinner-small-two-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    4.76%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    38.1%{
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        -o-transform:scale(.6);
        transform:scale(.6);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    57.14%{
        -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    72.62%{
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        -o-transform:scale(.8);
        transform:scale(.8);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes spinner-small-three-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.88,.21,.25,.76);
        animation-timing-function:cubic-bezier(.88,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spinner-small-three-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(.88,.21,.25,.76);
        animation-timing-function:cubic-bezier(.88,.21,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes spinner-small-three-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    9.52%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    42.86%{
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        -o-transform:scale(.6);
        transform:scale(.6);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    61.9%{
        -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    72.62%{
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        -o-transform:scale(.8);
        transform:scale(.8);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes spinner-small-three-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    9.52%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    42.86%{
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        -o-transform:scale(.6);
        transform:scale(.6);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    61.9%{
        -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    72.62%{
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        -o-transform:scale(.8);
        transform:scale(.8);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes spinner-small-four-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(1,.2,.25,.76);
        animation-timing-function:cubic-bezier(1,.2,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spinner-small-four-rotate{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-animation-timing-function:cubic-bezier(1,.2,.25,.76);
        animation-timing-function:cubic-bezier(1,.2,.25,.76)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes spinner-small-four-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    14.29%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    47.62%{
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        -o-transform:scale(.6);
        transform:scale(.6);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    66.67%{
        -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    72.62%{
        -webkit-transform:scale(.5);
        -ms-transform:scale(.5);
        -o-transform:scale(.5);
        transform:scale(.5);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes spinner-small-four-scale{
    0%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    14.29%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    47.62%{
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        -o-transform:scale(.6);
        transform:scale(.6);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    66.67%{
        -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7);
        -webkit-animation-timing-function:cubic-bezier(.33,0,.67,1);
        animation-timing-function:cubic-bezier(.33,0,.67,1)
    }
    72.62%{
        -webkit-transform:scale(.5);
        -ms-transform:scale(.5);
        -o-transform:scale(.5);
        transform:scale(.5);
        -webkit-animation-timing-function:cubic-bezier(.33,0,0,1);
        animation-timing-function:cubic-bezier(.33,0,0,1)
    }
    100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
.skypeSpinner .spinnerAnimation .circle{
    height:8%;
    left:42%;
    top:42%;
    width:8%;
    position:absolute
}
.skypeSpinner .spinnerAnimation .circle div{
    height:100%;
    position:absolute;
    width:100%
}
.skypeSpinner .spinnerAnimation .circle .position{
    top:-250%
}
.skypeSpinner .spinnerAnimation .circle .shape{
    background-color:#077DB4;
    border-radius:50%;
    overflow:hidden
}
@media (-ms-high-contrast:black-on-white){
    .skypeSpinner .spinnerAnimation .circle .shape{
        background-color:#000
    }
}
@media (-ms-high-contrast:white-on-black){
    .skypeSpinner .spinnerAnimation .circle .shape{
        background-color:#FFF
    }
}
.skypeSpinner .spinnerAnimation.small .circle{
    height:12%;
    left:38%;
    top:38%;
    width:12%
}
.skypeSpinner .spinnerAnimation.small .circle .position{
    top:-150%
}
.skypeSpinner .spinnerAnimation.blue .circle .shape{
    background-color:#077DB4
}
.skypeSpinner .spinnerAnimation.blue .circle .shape:after{
    border-color:#077DB4
}
@media (-ms-high-contrast:black-on-white){
    .skypeSpinner .spinnerAnimation.blue .circle .shape{
        background-color:#000
    }
    .skypeSpinner .spinnerAnimation.blue .circle .shape:after{
        border-color:#000
    }
}
@media (-ms-high-contrast:white-on-black){
    .skypeSpinner .spinnerAnimation.blue .circle .shape{
        background-color:#FFF
    }
    .skypeSpinner .spinnerAnimation.blue .circle .shape:after{
        border-color:#FFF
    }
}
.skypeSpinner .spinnerAnimation .circle .rotate,.skypeSpinner .spinnerAnimation .circle .scale{
    -webkit-animation-direction:normal;
    animation-direction:normal;
    -webkit-animation-duration:3.50s;
    animation-duration:3.50s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear
}
.skypeSpinner .spinnerAnimation .circle.one .rotate{
    -webkit-animation-name:spinner-one-rotate;
    animation-name:spinner-one-rotate
}
.skypeSpinner .spinnerAnimation .circle.one .scale{
    -webkit-animation-name:spinner-one-scale;
    animation-name:spinner-one-scale
}
.skypeSpinner .spinnerAnimation .circle.two .rotate{
    -webkit-animation-name:spinner-two-rotate;
    animation-name:spinner-two-rotate
}
.skypeSpinner .spinnerAnimation .circle.two .scale{
    -webkit-animation-name:spinner-two-scale;
    animation-name:spinner-two-scale
}
.skypeSpinner .spinnerAnimation .circle.three .rotate{
    -webkit-animation-name:spinner-three-rotate;
    animation-name:spinner-three-rotate
}
.skypeSpinner .spinnerAnimation .circle.three .scale{
    -webkit-animation-name:spinner-three-scale;
    animation-name:spinner-three-scale
}
.skypeSpinner .spinnerAnimation .circle.four .rotate{
    -webkit-animation-name:spinner-four-rotate;
    animation-name:spinner-four-rotate
}
.skypeSpinner .spinnerAnimation .circle.four .scale{
    -webkit-animation-name:spinner-four-scale;
    animation-name:spinner-four-scale
}
.skypeSpinner .spinnerAnimation.small .circle.one .rotate{
    -webkit-animation-name:spinner-small-one-rotate;
    animation-name:spinner-small-one-rotate
}
.skypeSpinner .spinnerAnimation.small .circle.one .scale{
    -webkit-animation-name:spinner-small-one-scale;
    animation-name:spinner-small-one-scale
}
.skypeSpinner .spinnerAnimation.small .circle.two .rotate{
    -webkit-animation-name:spinner-small-two-rotate;
    animation-name:spinner-small-two-rotate
}
.skypeSpinner .spinnerAnimation.small .circle.two .scale{
    -webkit-animation-name:spinner-small-two-scale;
    animation-name:spinner-small-two-scale
}
.skypeSpinner .spinnerAnimation.small .circle.three .rotate{
    -webkit-animation-name:spinner-small-three-rotate;
    animation-name:spinner-small-three-rotate
}
.skypeSpinner .spinnerAnimation.small .circle.three .scale{
    -webkit-animation-name:spinner-small-three-scale;
    animation-name:spinner-small-three-scale
}
.skypeSpinner .spinnerAnimation.small .circle.four .rotate{
    -webkit-animation-name:spinner-small-four-rotate;
    animation-name:spinner-small-four-rotate
}
.skypeSpinner .spinnerAnimation.small .circle.four .scale{
    -webkit-animation-name:spinner-small-four-scale;
    animation-name:spinner-small-four-scale
}

.skypeSpinner .spinnerAnimation{
    margin:0 auto;
    position:relative;
    width:250px;
    height:250px;
    -webkit-transform:scale(.5);
    -moz-transform:scale(.5);
    -o-transform:scale(.5);
    transform:scale(.5)
}
.lte-ie9 .skypeSpinner .spinnerAnimation .circle .shape{
    background-color:#FFF
}
.lte-ie9 .skypeSpinner .spinnerAnimation .circle .shape:after{
    border-color:#FFF
}